.n-wrapper {
    background-color: var(--primary-color);
    width: 100%;
    position: absolute;
    z-index: 999;
    /*making navbar at the top */
}

.n-container {
    padding: 1.5rem 1rem;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.n-logo {
    font-weight: bold;
    cursor: pointer;
}

.n-right {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    font-size: 0.9rem;
}

.n-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.n-menu span{
    cursor: pointer;
}

/*button */
.fund-button{
    color: var(--dark-bg);
    background-color: var(--third-color);
    padding: 1rem 1.6rem;
    font-size: 1rem;
    border-radius: 999px;
    text-transform: capitalize;
    font-weight: bold;
}

/* don't display on desktop screen */
.nm-container {
    display: none;
}

@media (max-width:1200px ) {
    .n-container{
        display: none;
    }

    .nm-container{
        display: block;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: relative;
        background-color: var(--primary-color);
    }

    .nm-container>:nth-child(1)

    /*digi bus */
    {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .nm-menu {
        position: fixed;
        top: 4rem;
        padding: 3rem 2rem;
        box-sizing: border-box;
        left: 0;
        display: flex;
        background-color: var(--primary-color);
        flex-direction: column;
        width: 100%;
        font-size: 1.2rem;
        z-index: 999;
        height: calc(100vh - 4rem);
    }

    .nm-menu span{
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--border-color);
    }

    .m-funded-button {
        width: 100%;
        background-color: var(--third-color);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 1rem 0rem;
        border-radius: 999px;
        color: var(--dark-bg);
        font-weight: bold;

    }




}
